{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Register') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.accept_tos) }}
    <button class="btn btn-primary" type="submit">{{ gettext('Register') }}</button>
  </form>
{% endblock %}